body{
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.wall{
    display: flex;
}

.wall div{
    width: 40px;
    height: 40px;
    color: transparent;
}

.brick{
    background-color: lightskyblue;
    background-image: url('../img/TIJOLO.jpg');
    background-size: cover;
}

.pathway{
    background-color: whitesmoke;
}

.start{
    background-color: transparent;
}

.end{
    background-image: url('../img/open-door.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#player{
    background-image: url('../img/capivara_skatista.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 35px;
    height: 35px;
}

#message{
    text-align: center;
    font-size: 32px;
    background-color: rgba(173, 216, 230, .7);
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
    transform: translateY(250%);
    margin: 0 auto;
    width: 100%;
}

.hide{
    display: none;
}